<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form name="input" form action="/form" method=“post”>
  <label for="todo">Enter todo here:</label><br>
  todo: <input type="text" id="todo" name="todo" value="go to France"><br>

  <input type="submit" value="Submit">
</form> 

</body>
</html>